{% extends 'base-back.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block inner_body %}
<p>jkfjklfkjljfklds</p>
    <p>{{ 'page.admin.dashboard.title.label'|trans }}</p>
{% endblock %}
