{% extends 'base-back.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block inner_body %}
<h1 class="text-center mt-5">{{ 'page.admin.dashboard.title.label'|trans }}</h1>
{% endblock %}
