{% extends 'base-front.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block inner_body %}
    <a href="{{path('pdf')}}" target="_blank">GENERER LE PDF</a>

    <select name="test" id="test">
        <option value="1">test1</option>
        <option value="2">test2</option>
    </select>
{% endblock %}
