.modal-crud {
    .modal-header {
        border-bottom: unset;
    }

    .modal-footer {
        border-top: unset;
        justify-content: center;
    }

    p {
        margin-bottom: 0;
        margin-top: -20px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;

        i {
            color: $primary-color;
            font-size: 28px;
            margin-right: 5px;
        }
    }
}