$main-color: #212121;
$secondary-color: #474747;

$bg-color: #212121;

$primary-color: #0984e3;
$primary-color-light: #2980b914;
$secondary-color: #FFF;
$text-color: #2a2a2a;

$font-admin: 'Poppins';
$font-path: '../../../fonts';
$font-primary: 'Poppins';