<footer class="site-footer">
    <div class="main-footer">
        <a href="#" id="openGdpr">Gérer mes cookies</a>
    </div>
    <div class="footer-bottom">
        <p class="copyright-footer">©Site réalisé par Drosalys</p>
    </div>
</footer>
