{% extends 'base.html.twig' %}
{% block stylesheets_custom %}
    <link rel="stylesheet" href="{{ asset('build/back-style.css') }}"/>
{% endblock %}

{% block javascript_custom %}
    {{ encore_entry_script_tags('back-scripts') }}
{% endblock %}

{% block sideNav %}
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="back-menu col-auto col-md-3 col-xl-2 px-sm-2 px-0">
                <div class="menu-content d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <a href="/"
                        class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <span class="fs-5 d-none d-sm-inline">Menu</span>
                    </a>
                    {{ knp_menu_render('main', {
                        'allow_safe_labels': true,
                        'template': 'menu.html.twig'
                    }) }}
                    <hr>
                    <div class="dropdown pb-4">
                        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                            id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30"
                                class="rounded-circle">
                            <span class="d-none d-sm-inline mx-1">loser</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                            <li><a class="dropdown-item" href="#">New project...</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Sign out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container">
                    {% block inner_body %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

