{% extends '@DrosalysPdf/pdf_base.html.twig' %}
{% block html %}
        <!DOCTYPE html>
        <html lang="fr">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <title></title>
        </head>
        <body>

        <div class="container">
            <div class="test text-center">
                SUPERTEST DE LA MORT QUI TUE !!!!!
            </div>
        </div>

        </body>

        </html>
{% endblock %}
