{#{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}#}
{#{% set itemsSubtotal = sylius_order_items_subtotal(order) %}#}
{#{% set taxIncluded = sylius_order_tax_included(order) %}#}
{#{% set taxExcluded = sylius_order_tax_excluded(order) %}#}
{#{% apply inline_css(encore_entry_css_source('styles', 'pdf')) %}#}
    <!DOCTYPE html>
    <html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title></title>
        <style>
            * {
                -webkit-print-color-adjust: exact;
            }
        </style>
    </head>
    <body>

    <div class="container">
        SUPERTEST DE LA MORT QUI TUE !!!!!
    </div>

    </body>
    </html>