{% extends 'layout/layout-back-office-crud.html.twig' %}

{% block title %}{{ __TITLE_NEW_TRANS__ }}{% endblock %}

{% block inner_crud_body %}

    {% include 'back/components/partials/crud-fixed-header.html.twig' with {
        'title_page': __TITLE_NEW_TRANS__,
        'save_form': {
            'type': 'add',
            'ref': ''
        },
        breadcrumb: {
            'type': 'back',
            'items': [
                {'name': __TITLE_INDEX_TRANS__, 'linkSymf': '__PATH_INDEX__'},
                __TITLE_NEW_TRANS__
            ]
        }
    } %}
    <div class="crud-content">
        {{ include('__ACTUAL_FORM_TWIG_PATH__') }}
    </div>

{% endblock %}
