{% extends 'layout/layout-back-office-crud.html.twig' %}

{% block title %}__TRANS_TITLE__{% endblock %}

{% block inner_crud_body %}

    {% include 'back/components/partials/crud-fixed-header.html.twig' with {
        'title_page': '__TRANS_TITLE__',
        'edit_button': absolute_url(path('__PATH_EDIT__', {'id': __ENTITY.id__})),
        'delete_partial': {
            'partial': '__DELETE_FORM_TWIG_PATH__',
            'ref': __ENTITY.id__
        },
        breadcrumb: {
            'type': 'back',
            'items': [
                {'name': '__TITLE_INDEX_TRANS__', 'linkSymf': '__PATH_INDEX__'},
                '__CURRENT_PAGE_SHOW_TITLE__'
            ]
        }
    } %}
    <div class="crud-content">
        <table class="table">
            <tbody>
            <tr>
                <th>__ENTITY_FIELD_TRANS__</th>
                <td>__ENTITY_VALUE__</td>
            </tr>
            <tr>
                <th>__ENTITY_FIELD_TRANS__</th>
                <td>__ENTITY_VALUE__</td>
            </tr>
            <tr>
                <th>__ENTITY_FIELD_TRANS__</th>
                <td>__ENTITY_VALUE__</td>
            </tr>
            <tr>
                <th>__ENTITY_FIELD_TRANS__</th>
                <td>__ENTITY_VALUE__</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
