{% extends 'base-back.html.twig' %}
{% block body %}
    <div class="container">
        <div class="crud-drosalys">
            {% block inner_body %}{% endblock %}
        </div>
    </div>
{% endblock %}