<form method="post" action="{{ path('custom_page_delete', {'id': custom_page.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ custom_page.id) }}">
    <button class="btn-standard">{{ "page.admin.crud.global.modal.delete.button.delete.label"|trans }}</button>
</form>